doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Furniture Stock
  link(rel='stylesheet' href='css/tables.css')
h1 Registered Furniture Stock
table
  thead
    tr
      th Furniture Type
      th Quantity
      th Price (per unit)
      th Material
  tbody
    tr
      td Table
      td 3
      td 350000
      td Mahogany
    tr
      td Chair
      td 5
      td 150000
      td Mahogany
    tr
      td Lux Bed
      td 5
      td 2500000
      td Walnut
