doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Furniture Stock
  link(rel='stylesheet' href='css/tables.css')
h1 Registered Furniture Stock
table
  thead
    tr
      th Furniture Type
      th Quantity
      th Price (per unit)
      th Material
  tbody
    if furnitureStock.length > 0
      each item in furnitureStock
        tr
          td #{item.furnitureType}
          td #{item.quantity}
          td #{item.price}
          td #{item.material}