doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Mayondo Wood Inventory System
  link(rel='stylesheet' href='css/style_landing.css')
//  Navigation Bar
nav.navbar
  .nav-inner 
    .logo
      | Mayondo
      span Wood
      ul.nav-links
        li
          a(href='/register') Signup
        li
          a(href='/login') Login
block content