doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registered Users
  link(rel='stylesheet' href='css/tables.css')
h1 User List
table
  thead
    tr
      th Name
      th Email
      th Role
  tbody
    tr
      td Kirabo Emily
      td emily0@gmail.com
      td Manager
    tr
      td Mukisa Sam
      td sam6@gmail.com
      td Sales Agent
    tr
      td Atim Martha
      td atim7@gmail.com
      td Sales Agent
