doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registered Users
  link(rel='stylesheet' href='css/tables.css')
h1 User List
table
  thead
    tr
      th Name
      th Email
      th Role
  tbody
    if users.length > 0
      each user in users
        tr
          td #{user.fullName}
          td #{user.email}
          td #{user.role}
