extends layout 
block content
  head 
  title Register Furniture Stock
  link(rel='stylesheet' href='css/style_furniture.css')
  header
    h1 Register Furniture Stock
    img.header-img(src='images/ailany-5-piece-bedroom-set.webp' alt='Furniture Stock')
  main
    form#furnitureForm(action='/registerFurniture' method='post')
      label Furniture Type:
      input#furnitureType(type='text' name='furnitureType' placeholder='E.g., Table, Chair' required='')
      label Quantity:
      input#quantity(type='number' name='quantity' placeholder='Enter quantity' required='')
      label Price (per unit):
      input#price(type='number' name='price' placeholder='Enter price' required='')
      label Material:
      input#material(type='text' name='material' placeholder='E.g., Mahogany, Oak' required='')
      br
      button(type='submit') Register Furniture
      br
  //- script(src='js/script_furniture.js')
