doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registered Wood Stock
  link(rel='stylesheet' href='css/tables.css')
h1 Registered Wood Stock
table
  thead
    tr
      th Wood Type
      th Quantity (In pecies)
      th Supplier
      th Date Received
  tbody
    tr
      td Walnut
      td 50
      td Luxury Woods Ltd.
      td 2025-10-28
    tr
      td Mahogany
      td 100
      td Wood Supplier Inc.
      td 2025-10-28
    tr
      td Oak
      td 200
      td Timber Co.
      td 2025-10-28
