doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Registered Wood Stock
  link(rel='stylesheet' href='css/tables.css')
h1 Registered Wood Stock
table
  thead
    tr
      th Wood Type
      th Quantity (In pecies)
      th Supplier
      th Date Received
  tbody
    if woodStock.length > 0
      each item in woodStock
        tr
          td #{item.woodType}
          td #{item.quantity}
          td #{item.supplier}
          td #{item.dateReceived}
